DB_HOST=versionhash.com
DB_USER=labnet
DB_PASS=bE04@6al3
DB_NAME=labnet
DB_DIALECT=mysql
DB_PORT=3306
PORT=3000
SECRET_KEY=firsttoken

GOOGLE_CLIENT_ID = '1025229913468-7hhupoha2rpmbmc6prd0kp24pt67ap4d.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET = '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'
REDIRECT_URI = 'http://localhost:5000'

GOOGLE_OTH2_URL = 'https://accounts.google.com/o/oauth2/v2/'
GOOGLE_TOKEN_URL = 'https://oauth2.googleapis.com/token'
GOOGLE_USER_INFO_URL = 'https://www.googleapis.com/oauth2/v2/userinfo'